<link href="/assets/users.scss" rel="stylesheet">

  <body class="text-center">


<main class="form-signin">
    <%= form_with(model: @language, local: true) do |f| %>
    <img class="mb-4" src="/assets/fox.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">新たに作成するチートシートの言語を入力して下さい。</h1>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">例：</label>
      <span class="indispensable">Rails, Javascpipt 等</span>
    </div>
  </div>
      <%= f.text_area :name, class:"form-control", id:"language_name" %>

    <div class="checkbox mb-3">
      <label>
        <h5> </h5>
      </label>
    </div>
    <div class='login-btn'>
    <%= f.submit "言語を作成" ,class:"w-100 btn btn-lg btn-primary" %>
  </div>
        <% end %> 
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
      <a href="/" class="btn btn-outline-secondary"> トップページに戻る</a>

</main>


  </body>

