
  <section class="py-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">更新が完了しました</h1>
        <p>
      </div>
        <%= link_to '投稿一覧に戻る',language_posts_path(@language.id), class:"btn btn-outline-success btn-lg" %>
    </div>
  </section>