 
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/assets/stylesheets/users.scss" rel="stylesheet">
  </head>

  <body class="text-center">




    
<main class="form-signin">
    <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
    <img class="mb-4" src="/assets/fox.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">ログイン</h1>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:" form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"form-control", id:"password", placeholder:"" %>
  </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> ログイン状態を保存する
      </label>
    </div>
    <div class='login-btn'>
    <%= f.submit "ログイン" ,class:"w-100 btn btn-lg btn-primary" %>
  </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
      <a href="/" class="btn btn-outline-secondary"> トップページに戻る</a>
      <% end %> 
</main>



    
  </body>

