// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title_label{
  text-align: center;
padding-top: 20px;
}

.sheet_text{
  height: 50vh;
}

.post_title{
  font-size: 35px;
}

.post_text{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
}

.pull-right{
  text-align: right;
  margin-left: auto;
}