// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title_label{
  text-align: center;
padding-top: 20px;
}

.sheet_text{
  height: 50vh;
}